{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>CARD EDITION</h1>

            
            {{ form(cardForm) }}
            <div class="editimage">
        Sensibilité couleur (clair <-> foncé)
        <input type='range' min="0" max="255" step="1"  data-orientation="horizontal" id="sensitivity" value="109" data-tr='109' data-tg='111' data-tb='101'/>

        <div id="source" data-source='{{ images_folder }}{{card.file}}?{{random(999)}}'></div>
        <div id="canvasDiv" style='width:1000px;height:600px;'></div>
        <input type="file" id="upfile" value='telecharger une image du disque'/> 
        <button id="color" class="hidden">color</button>
    </div>
            
            
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
